.mw50{
    width: 50vw;
}
.w35pers{
    width: 35vw;
}
.blueden{
    color: rgb(85, 205, 241);
}
.bgblueden{
    background-color: rgb(85, 205, 241);
}
.borderbluedent{
    border: 1px rgb(85, 205, 241) solid;
}
.borderbluedenthover:hover{
    border: 1px rgb(85, 205, 241) solid;
}
.borderbluedentfocus:focus{
    border: 1px rgb(85, 205, 241) solid;
}
.bluedenhover:hover{
    color: rgb(85, 205, 241);
}.bluedenfocus:focus{
    color: rgb(85, 205, 241);
}
.bluedenhover1:hover{
    color: rgb(58, 193, 234);
}
.whitedenhover:hover{
    color: rgb(255, 255, 255);
}
.bgbluedenhover:hover{
    background-color: rgb(85, 205, 241);
}
.bgbluedenhover1:hover{
    background-color: rgb(58, 193, 234);
}
.top-15{
    top: -15px;
}
@media screen and (max-width:800px) {
    .flexclrev{
        flex-direction: column-reverse;
    }
    .flexclomn{
        flex-direction: column;
    }
    .margintop10{
        margin-top: 250px;
    }.margintop1{
        margin-top: 25px;
    }
    .w100per{
        width: 100vw;
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  